canvas {
width: 100%;
height: 100%;
display: block;
}

.app-container {
width: 100%;
height: 100vh;
overflow-y: auto;
position: relative;
}

.babylon-canvas {
width: 100%;
height: 100%;
display: block;
position: fixed;
top: 0;
left: 0;
z-index: 1;
}

.text-box4 {
position: absolute;
background-color: rgba(255, 255, 255, 0.8);
padding: 0.9rem;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
z-index: 10;
width: 190px;

/* Add these lines to center the image */
display: flex; /* Enable flexbox layout */
flex-direction: column; /* Stack children vertically */
align-items: center; /* Center children horizontally */
font-size: 0.8rem;
}

.top-left {
top: 20px;
left: 20px;
}

.box-text {
    padding: 1rem;
    padding-top: 0;
    font-family: "abee";
    text-align: center;
}

.text-box-2 {
position: absolute;
background-color: rgba(255, 255, 255, 0.8);
padding-top: 15px;
padding-bottom: 30px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
z-index: 10;
width: 280px;

display: flex; /* Enable flexbox layout */
flex-direction: column; /* Stack children vertically */
align-items: center; /* Center children horizontally */
bottom: 0;
}

.bottom-right {
top: 10%;
right: 20px;
text-align: right;
overflow-y: scroll;
}

.close-button {
position: absolute;
top: 10px;
right: 10px;
background-color: rgba(114, 114, 114, 0.7);
color: white;
border: none;
padding: 5px 10px;
cursor: pointer;
font-size: 16px;
border-radius: 25%;
width: 40px;
height: 30px;
text-align: center;
line-height: 20px;
z-index: 10;

/* Remove transition or make it very fast */
transition: opacity 0.05s ease-in-out;; /* or transition: opacity 0.05s ease-in-out; */
}


.loader-container {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 1000; /* Ensure it's on top of everything */
   }

   .loader {
       text-align: center;
   }

   .loader svg {
animation: swing 2s linear infinite; /* Changed animation name to 'swing' */
}

@keyframes swing { /* Updated keyframes to create the swinging motion */
0% {
transform: rotate(-15deg); /* Start at -35 degrees */
}
50% {
transform: rotate(15deg); /* Rotate to +35 degrees */
}
100% {
transform: rotate(-15deg); /* Return to -35 degrees */
}
}

.info-header {
    text-align: center;
    font-family: "old";
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

@font-face {
	font-family: 'old';
	src: url("../../../public/fonts/Old.otf");
}

.hog {
    width: 40%;
}

@font-face {
	font-family: 'abee';
	src: url("../../../public/fonts/Abee.ttf");
}



html, body {
    background-color: #222C32;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
  position: relative;
  width: fit-content;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 3px;
  background: grey;
}


.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673AB7;
}


.cd-timeline-content {
  position: relative;
  margin-left: 10%;
  margin-right: 5px;
  background: #333C42;
  border-radius: 2px;
  padding: 1em;
  .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  }
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
  }
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin-bottom: 4em;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

section > div {
    height: fit-content;
} 

.job-place {
    color: white;
}
.col-button {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
}

.load {
  font-style: normal;
  font-family: play;
  font-size: 0.9rem;
}


@font-face {
	font-family: 'play';
	src: url("../../../public/fonts/Play.ttf");
}