.overlay-modal {
    position: relative; /* Important for positioning the dialog */
    }
    
    /* General Styles */
    .overlay-pic {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    }
    
    .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin: 0 6%;
    }
    
    .thumbnail-button {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    }
    
    .thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    }
    
    .thumbnail-button:hover {
    opacity: 0.9;
    }
    
    .thumbnail-button:hover .thumbnail-image {
    transform: scale(1.1);
    }
    
    /* Carousel Modal Styles */
    .carousel-dialog {
    width: 80vw; /* Adjust as needed */
    max-width: 800px; /* Maximum width */
    height: 80vh; /* Adjust as needed */
    max-height: 600px; /* Maximum height */
    padding: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: fixed; /* Use fixed positioning for the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the dialog */
    background-color: white;
    overflow: hidden; /* Prevent scrollbars */
    }
    
    .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative; /* For positioning buttons */
    }
    
    .carousel-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Fit image within the container */
    }
    
    .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #757271;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
    }
    
    .carousel-button-prev {
    left: 10px;
    z-index: 5;
    }
    
    .carousel-button-next {
    right: 10px;
    }
    
    .x {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f56a57;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    z-index: 10; /* Ensure it's above the carousel */
    }
    
    .x:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Optional: Style for the backdrop */
    dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    }